body {
    font-family: sans-serif;
    font-size: 12pt;
    margin-bottom: 3em;
}

input, select {
    font-size: 11pt;
    padding-left: 1px;
    padding-top: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
